//$body-color: #42404b;
//$primary:#cfae8b;
//$border-color:#e3e3e3;

$primary:#bf1813;
$btnHover: #ca7776;
$green: #33a651;
$text-muted: #e1e2e5;
$socialMediaIcons: #dfa1a8;
$footerColor: #1e2f37;
$footerTextColor: #9ca3af;


