@import "variables";

.topbar {
    .navbar-user {
        color: black;
    }
}
body {
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-weight: 400;
    background-color: $body-bg;
    color: #495057;
}

.btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
}

.bg-primary {
    background-color: $bg-primary !important;
}

.text-primary {
    color: $primary !important;
}

.form-control, .form-select {
    &:focus {
        box-shadow: none;
        border-color: $primary;
    }
}

.nav-item {
    &.accordion-item {
        background-color: #2a2927;
        border-color: $primary !important;
        color: black !important;
        border-bottom: 0;

        h2 {
            display: inline-block;

            button {
                padding: 0;

                &:after {
                    display: none;
                }
            }
        }

    }

    .accordion-button {
        background-color: #2a2927!important;
        color: white;
        border: none;
        &:focus {
            box-shadow: none;
        }

        .accordion-down-btn {
            font-size: 13px;
            margin-left: 5px;
        }

        &:not(.collapsed) {
            color: white !important;
        }

    }
    .accordion-body-wrapper{
        &:hover{
            transform: scale(1.02);
        }
    }
    .accordion-body-text {
        text-decoration: none;
        font-size: 15px;
        color: white;
        padding-left: 30px;
    }


}


.auth {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        background-image: url("/resources/images/login-bg.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-color: rgba(143, 189, 86, 0.6);
        position: absolute;
        left: 0;
        z-index: -1;
        top: 0;
    }

    .login-card {
        border: none;
        background-color: #f8f8f8;
    }

    .login-logo {
        width: 120px;
        height: 100%;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1049;
    width: $sidebar-width;
    background-color: #2a2927;
    padding: 0 16px;

    a {
        text-decoration: none;
    }

    .sidebar-nav {
        height: 100vh;
    }

    .sidebar-logo {
        color: #fff;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(#fff, .15);

        img {
            width: 120px;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav-item {
        margin-bottom: 6px;

        .collapse-dropdown {
            .nav-link {
                font-size: 12px;
            }
        }
    }

    .nav-link {
        transition: all .2s ease;
        color: #fffbfb;
        //font-size: 15px;
        &.active {
            color: #c4d2e8;
            font-weight: bold;
        }

        i {
            margin-right: 10px;
            width: 16px;
        }
    }

    .collapse-dropdown {
        .nav-link {
            //padding-left: 44px;
        }
    }
}

.main-panel {
    margin-left: 224px;
}

.table-datatable {
    font-size: 15px;
}

.dataTables_info, .dataTables_length, .dataTables_filter, .dataTables_paginate {
    padding: .75rem 1.5rem;
}

.dataTables_filter {
    display: none;
}

.datatable-table-wrapper {
    padding: 3rem;
}

div.dataTables_processing {
    margin-left: 24px;
}

.dataTables_paginate .pagination {
    justify-content: end;
}

.pagination {
    .page-item {
        a {
            color: $primary;

            &:focus {
                box-shadow: none;

            }
        }

        &.active {
            a {
                background-color: $primary;
                border-color: $primary;
                color: white;
            }
        }
    }

}

.datatable-search {
    width: 300px;
}

.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid transparent;
    background-clip: border-box;
    border-radius: 5px;

    .card-header {
        padding: 1.2rem 1.5rem !important;
        background: none;

        .card-title {
            font-size: 1rem;
        }
    }

    .card-body {
        padding: 1.5rem;

        .table-bordered {
            border: 1px solid #eaedf1 !important;
        }

        .table {
            td {
                padding: 0.65rem;
                vertical-align: middle;
                font-size: 0.9rem;
            }
        }
    }

    .border-bottom {
        border-bottom: 1px solid #eaedf1 !important;
    }
}

.wp-30 {
    width: 30% !important;
}

.wp-70 {
    width: 70% !important;
}

.dropzone {
    border: 1px solid rgb(231 234 239);
}

.dropzone-label {
    vertical-align: middle;
    font-size: 0.9rem;
}

.gallery-image {
    width: 100%;
    height: 150px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.file_manager {
    .card {
        background: #fff;
        transition: .5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: 0.55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    }

    .file {
        abbr[title] {
            text-decoration: none;
            cursor: inherit;
        }


        &:hover {
            .hover {
                display: block;
                transition: all 0.2s ease-in-out;
                button{
                    position: relative;
                    z-index: 9999;
                }
            }
        }
        .file-name {
            small {
                display: block;

                .date {
                    float: right;
                }
            }

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 0.7rem;
            }

            padding: 10px;
            border-top: 1px solid #f7f7f7;
            font-size: 0.6rem;
        }

        padding: 0 !important;
        position: relative;
        border-radius: .55rem;
        overflow: hidden;

        .icon {
            text-align: center;
            height: 120px;
            overflow: hidden;
            background-size: cover;
            background-position: top;
            display: table;
            width: 100%;

            i {
                display: table-cell;
                font-size: 30px;
                vertical-align: middle;
                color: #777777;
                line-height: 100px;
            }
        }

        .image {
            height: 120px;
            overflow: hidden;
            background-size: cover;
            background-position: top;
        }

        .hover {
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
            transition: all 0.2s ease-in-out;
        }
    }

    .folder {
        padding: 20px;
        display: block;
        color: #777777;
    }
}

.info-message {
    font-size: 12px;
    margin-bottom: 10px;
}

.dashboard-information-list {
    .dashboard-information-list-item {
        a {
            color: $link-color;
        }
    }
}

.login{
    background-image: url("/Applications/XAMPP/xamppfiles/htdocs/ozay-enerji-sistemleri/resources/images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    .login-wrapper{
        opacity: 1 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        .login-form{
            background-color: white;
            padding: 50px 100px;
            border-radius: 20px;
        }
    }
}
